/*content_entire_body*/
#content {
  max-width: 1600px;
  margin: 0 auto;
}

/*header_where_logo_is*/
header {
  background-color:rgba(20,30,13, .7);
  }
.logo {
  width: 80px;
}
nav a {
  color: #f0ee6a;
  text-align: center;
  text-decoration: none;
}
nav a:hover {
  background-color: #241a66 ;
  color: white;
}

/*hero_main_pic_and_msg*/
#hero-img {
  width: 100%
}
#hero-msg h1, #hero-msg h4 {
  text-align: center;
}
.home-title {
  color: #f0ee6a;
}
h4 {
  color: #f0ee6a;
}
.button-box {
  text-align: center;
}
/*body*/
body {
  background-color: #1584b7 ;
}
.icon {
  width: 80px;
}

/*main*/
main {
  text-align: center;
}

/*background_below_rapids_pic*/
#background {
  height: 725px;
  background-color: #ca7316;
}

/*message_on_bottom_above_footer*/
.msg {
  background-color: #ca7316;
}
.msg h2 {
  color: #241a66;
}
.msg p {
  color: #241a66;
}

/*footer*/
footer {
  background-color: #ca7316;
  color: black;
}    
footer a {
  color: #241a66;
  text-decoration: none;
}
footer a:hover {
  color:  white;
}
footer p {
  font-size: 1.2em;
} 
footer p a:hover {
  text-decoration: underline;
}  

/*book_and_join_buttons_thru_out_*/
.book, .join {
  background-color: #241a66;
  color: white;
  text-decoration: none;
}
.book:hover, .join:hover {
  background-color: #1584b7;
  color: white;
}
